

    <div class="bck-img">

        <div class="logo">
            <img class="logo" src="../../assets/logo.png">
        </div>
        <a class="learn-more" href="#">Learn More</a>

        <div class="center-div title-div" style="color: white;">
            <span class="launch-os">Launch OS&trade;</span>
        </div>

        <div class="center-div bold-div">
            <span class="bold-txt">ENTREPRENEURSHIP PLATFORM</span>
        </div>

        <div class="center-div short-div">
            <span class="short-desc">The most powerful Operating System to Launch and Grow a Venture</span>
        </div>
    </div>

    <div class="signin-cont center-div">
        <div class="signin-info">Don't have an account? Create one now</div>
        <div class="signin-btn center-div">
        <a class="signin-txt" href="#">Sign In</a>
    </div>

    <div class="register-cont center-div">
        <div class="register-info">Don't have an account? Create one now</div>
        <div class="register-btn center-div">
        <a class="register-txt" href="#">Register Here</a>
    </div>


